@model UI_portal.Models.UserRating
@using UI_portal.Models;
@using UI_portal.Constants;
@{
    ViewBag.Title = "Đánh giá";
    var post = ViewBag.Post as Post;
}
<main class="userAccount-rating-page">
    <section class="tableContent">
        <div class="containerAccount">
            <div class="tableContent__title">
                <div class="tableContent__title-user">
                    <div class="avt">
                        <img src="@Url.Content("~/Content/Assets/img/icons/user.svg")" alt="">
                    </div>
                    <div class="name">
                        <p>Tài khoản của</p>
                        <!--tên user-->
                        <p class="val">@User.Identity.Name</p>
                    </div>
                </div>
                <div class="tableContent__title-current">
                    <a href="@Url.Action("History", "User")">
                        <h3>Tất cả giao dịch</h3>
                    </a>
                    <p class="current__child addproductservice">Đánh giá</p>
                </div>
            </div>
            <div class="tableContent__wrap">
                @Html.Partial("_SideTabPartial")
                <div class="tableContent__wrap-content">
                    <div class="tableContent__wrap-content--dg">
                        <div class="productRating">
                            <div class="productRating__img">
                                <img src="@Url.Content("~" + ImageConstants.Thing + post.thing.image)" alt="">
                            </div>
                            <div class="productRating__wrapInfo">
                                <p class="productRating__wrapInfo-nameProd">@post.thing.thing_name</p>
                                <p>Trao đổi với</p>
                                <a class="productRating__wrapInfo-linkprofile" href="@Url.Action("Index", "User", new { userId = post.thing.userAccount.id })">
                                    @post.thing.userAccount.email
                                </a>
                                <p class="status status-done">@post.status</p>
                            </div>
                            <div class="productRating__ratingbox">
                                @if (ViewBag.Message != null)
                                {
                                    <h3>@ViewBag.Message</h3>
                                }
                                else
                                {
                                    <form action="@Url.Action("Create", "Rate")">
                                        <div class="productRating__ratingbox-case">
                                            <input class="star star-5" id="star-5" type="radio" name="rating" value="5" />
                                            <label class="star star-5" for="star-5">
                                                <span class="star-empty"></span>
                                            </label>
                                            <input class="star star-4" id="star-4" type="radio" name="rating" value="4" />
                                            <label class="star star-4" for="star-4">
                                                <span class="star-empty"></span>
                                            </label>
                                            <input class="star star-3" id="star-3" type="radio" name="rating" value="3" />
                                            <label class="star star-3" for="star-3">
                                                <span class="star-empty"></span>
                                            </label>
                                            <input class="star star-2" id="star-2" type="radio" name="rating" value="2" />
                                            <label class="star star-2" for="star-2">
                                                <span class="star-empty"></span>
                                            </label>
                                            <input class="star star-1" id="star-1" type="radio" name="rating" value="1" />
                                            <label class="star star-1" for="star-1">
                                                <span class="star-empty"></span>
                                            </label>
                                            <div class="rev-box">
                                                <textarea class="review" col="30" name="description"></textarea>
                                                <label class="review" for="review">
                                                    Viết
                                                    đánh
                                                    giá
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="button-primary sendComment">
                                            <p>Gửi</p>
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>







<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>UserRating</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rating, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rated_user_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rated_user_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rated_user_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rater_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rater_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rater_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.post_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.post_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.post_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
