@model IEnumerable<UI_portal.Models.PostRegistration>
@using UI_portal.Constants;
@{
    ViewBag.Title = "Tất cả đăng ký";
}
<main class="userAccount-history-page postdetail-page">
    <section class="tableContent">
        <div class="containerAccount">
            <div class="tableContent__title">
                <div class="tableContent__title-user">
                    <div class="avt">
                        <img src="@Url.Content("~/Content/Assets/img/icons/user.svg")" alt="">
                    </div>
                    <div class="name">
                        <p>Tài khoản của</p>
                        <!--tên user-->
                        <p class="val">@User.Identity.Name</p>
                    </div>
                </div>
                <div class="tableContent__title-current">
                    <a href="@Url.Action("Registration", "User")">
                        <h3>Tất cả đăng ký</h3>
                    </a>
                </div>
            </div>

            <div class="tableContent__wrap">
                @Html.Partial("_SideTabPartial")
                <div class="tableContent__wrap-content">
                    <div class="tableContent__wrap-content--lsgd">
                        <div class="inventory">
                            <div class="inventory__wrap">
                                <div class="inventory__wrap-top">
                                    <div class="searchWrap">
                                        <div class="search-input">
                                            <a href="" target="_blank" hidden></a>
                                            <input type="text" placeholder="Tìm kiếm..">
                                            <i class="icon">
                                                <img src="@Url.Content("~/Content/Assets/img/icons/icons8-search.svg")" />
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <div class="inventory__wrap-bottom">
                                    <table class="table-scroll small-first-col">
                                        <thead>
                                            <tr>
                                                <th>Sản phẩm</th>
                                                <th>Trạng thái</th>
                                                <th>Bài đăng</th>
                                            </tr>
                                        </thead>
                                        <tbody class="body-half-screen">
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="name">
                                                        <div class="img">
                                                            @if (item.thing != null)
                                                            {
                                                                <img src="@Url.Content($"~{ImageConstants.Thing}{item.thing.image}")" alt="">
                                                            }
                                                        </div>
                                                        <div class="wrap-info">
                                                            <!--Tên món đồ-->
                                                            <a href="" class="name-prod">
                                                                @item.description
                                                            </a>
                                                            @if (item.thing != null)
                                                            {
                                                                <p>Món đồ</p>
                                                                <a class="profile" href="@Url.Action("Details", "Thing", new { thingId = item.thing.id })">
                                                                    @item.thing.thing_name
                                                                </a>
                                                            }
                                                                <div class="comment-wrap">
                                                                    @if (item.post.status == "Hoàn tất")
                                                                    {
                                                                        <a href="@Url.Action("CreateFromRegistration", "Rate", new { postId = item.post.id })" class="button-primary comment">
                                                                            <p>Đánh giá</p>
                                                                        </a>
                                                                    }
                                                                </div>
                                                        </div>
                                                    </td>
                                                    <td class="type">
                                                        @switch (item.chosen)
                                                        {
                                                            case true:
                                                                {
                                                                    if (item.post.status == "Hoàn tất")
                                                                    {
                                                                        <p class="status status-done">Hoàn tất</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label class="onOffpost">
                                                                            <input type="checkbox" disabled>
                                                                            <span>
                                                                                <em></em>
                                                                                <strong></strong>
                                                                                @if (item.post.given == null)
                                                                                {
                                                                                    <button onclick="completepost('@item.post.id')" id="completepost" type="submit" class="btncheckbox done">
                                                                                        Hoàn
                                                                                        tất
                                                                                    </button>
                                                                                }
                                                                            </span>
                                                                        </label>
                                                                    }
                                                                    break;
                                                                }
                                                            case false:
                                                                {
                                                                    if (item.post.status == "Mở")
                                                                    {
                                                                        <p class="status status-done">Chưa được chọn</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="status status-cancel">Không được chọn</p>
                                                                    }
                                                                    break;
                                                                }
                                                        }
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("DetailsAsync", "Post", new { postId = item.post.id })">Xem bài đăng</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="black-layer"></div>
    <div class="warning-delete-post-form">
        <h3>Bạn muốn xác nhận hoàn tất?</h3>
        <img src="@Url.Content("~/Content/Assets/img/icons/messaging-action-error.svg")" alt="">
        <div class="opt-wrap">
            <form action="@Url.Action("CompletePost", "Post")" method="post">
                <input hidden name="postId" value="" id="postIdValue" />
                <button type="submit" class="button delposty">Đồng ý</button>
                <button type="button" class="button delpostn">Hủy</button>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    <script>
        function completepost(id) {
            $(".black-layer").addClass("open");
            $(".warning-delete-post-form").addClass("open");
            document.getElementById('postIdValue').value = id;
        }
        $(".warning-delete-post-form .opt-wrap .button.delpostn").on(
            "click",
            function () {
                $(".black-layer").removeClass("open");
                $(".warning-delete-post-form").removeClass("open");
            }
        );
    </script>
}