@using UI_portal.Constants;
@using PagedList.Mvc;
@using UI_portal.Models
@model  PagedList.IPagedList<Post>
@{
    ViewBag.Title = "Newsfeed";
}
<main class="market-page">
    <section class="bannermarket">
        <div class="textboxbanner">
            <h2>Van Lang Save Newsfeed</h2>
            <p class="desc"></p>
        </div>
    </section>
    <div class="searchWrap">
        <div class="search-input">
            <form action="@Url.Action("SearchPost", "Post")" autocomplete="off">
                <a href="" target="_blank" hidden></a>
                <input type="text" name="search" placeholder="Tìm kiếm.." id="auto-complete-search" required onkeyup="autoSearch()">
                <div class="autocom-box" id="searchResult">
                    
                </div>
                <input hidden name="returnUrl" value="@ViewBag.ReturnUrl" />
                <button type="submit" class="searchMarket">
                    <i class="icon">
                        <img src="@Url.Content("~/Content/Assets/img/icons/icons8-search.svg")" />
                    </i>
                </button>
            </form>
        </div>
    </div>
    <section class="mainProduct">
        <div class="container">
            <h2 class="content__CTA"></h2>
            <div class="mainProduct__list">
                @foreach (var post in Model)
                {
                    <div class="mainProduct__list-item">
                        <a href="@Url.Action("DetailsAsync", "Post", new { postId = post.id })">
                            <div class="item-img">
                                <!--Ảnh sản phẩm-->
                                <img src="@Url.Content($"~{ImageConstants.Thing}{post.thing.image}")" alt="">
                                <div class="label">
                                    <!--Thể loại sản phẩm-->
                                    <p class="type">@post.thing.category.category_name</p>
                                </div>
                            </div>
                            <!--Tên sản phẩm-->
                            <h3 class="title">@post.thing.thing_name</h3>
                            <!--Mô tả ngắn-->
                            <p class="desc">@post.description</p>
                            <div class="user__info">
                                <div class="right">
                                    <div class="user__info-name">
                                        <div class="wrap-top">
                                            <span>Đăng bởi</span>
                                            <!--Tên người dùng-->
                                            <p class="name">@post.thing.userAccount.email</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="last__info">
                                <div class="last__info-time">
                                    <!--Thời gian đăng-->
                                    <p class="value">@post.created_time </p>
                                    @*<span>trước</span>*@
                                </div>
                                <div class="last__info-option">
                                    <img src="@Url.Content("~/Content/Assets/img/icons/icons8-synchronize-100.png")" alt="">
                                    <!--Lựa chọn đổi-->
                                    <p class="option">@post.exchange_method</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="paging-btn">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (Model.PageNumber == i)
                    {
                        <span class="active">@i</span>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", new { page = i })"><span class="">@i</span></a>
                    }

                }
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <script>
        function autoSearch() {
            var search = document.getElementById("auto-complete-search").value;
            console.log(search);
            if (search.length >= 3) {
                $.ajax({
                type: "POST",
                url: "@Url.Action("Search", "Post")",
                data: JSON.stringify({ search: search }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r.success) {
                        console.log(r.list);
                        showResult(r.list);
                    } else {
                        console.log('fail');
                    }
                }
            });
            }
        }

        function showResult(list) {
            var len = list.length;
            $("#searchResult").empty();
            for (var i = 0; i < len; i++) {
                var id = list[i]['id'];
                var name = list[i]['thing_name'];
                $("#searchResult").append("<li><a href=/Post/DetailsAsync/" + id + ">" + name + "</a></li>");
            }
            
            // binding click event to li
            $("#searchResult li").bind("click", function () {
                setText(this);
            });
            const searchWrapper = document.querySelector(".search-input");
            if (len === 0) {
                searchWrapper.classList.remove("active");
            } else {
                searchWrapper.classList.add("active");
            }
        }
    </script>
}
