@using UI_portal.Models
@model UI_portal.Models.PostRegistration
@{
    IEnumerable<Thing> userThingList = ViewData["listThing"] as IEnumerable<Thing>;
    ViewBag.Title = "Đăng ký bài đăng";
}
<main class="register-exchange-page">
    <section class="tableIven">
        <div class="containerAccount">
            <div class="inventory">
                <div class="inventory__wrap">
                    <form action="@Url.Action("Register", "Trade")" method="post">
                        <div class="inventory__wrap-left">
                            <div class="searchWrap">
                                <div class="search-input">
                                    <a href="" target="_blank" hidden></a>
                                    <input type="text" placeholder="Tìm kiếm..">
                                    <i class="icon"><img src="@Url.Content("~/Content/Assets/img/icons/icons8-search.svg")"></img></i>
                                </div>
                            </div>
                            <div class="img"><img src="@Url.Content("~/Content/Assets/img/sapiens.svg")" alt=""></div>
                        </div>
                        <div class="inventory__wrap-bottom">
                            <table class="table-scroll small-first-col">
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Lựa chọn</th>
                                    </tr>
                                </thead>
                                <tbody class="body-half-screen">
                                    @foreach (var item in userThingList)
                                    {
                                        <tr>
                                            <td class="name">@item.thing_name</td>
                                            <td>
                                                <input required type="radio" class="button-check" name="thingId" value="@item.id" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="register__form">
                                <div class="register__form-message">
                                    <textarea placeholder="Viết lời nhắn.." rows="8" cols="50" type="text" name="comm"></textarea>
                                    <input hidden value="@Model.user_id" name="userId" />
                                    <input hidden value="@Model.post_id" name="postId" />
                                </div>
                                <div>
                                    <button type="submit" class="register__form-button">
                                        <div class="img">
                                            <img src="@Url.Content("~/Content/Assets/img/icons/sendregist.svg")" alt="">
                                        </div>
                                        <div class="around"></div>
                                    </button>
                                    <a href="@Url.Action("DetailsAsync", "Post", new { postId = Model.post_id })" class="register__form-button cancel">
                                        <div class="img">
                                            <img src="@Url.Content("~/Content/Assets/img/icons/registcancel.svg")" alt="">
                                        </div>
                                        <div class="around"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>