@using Microsoft.AspNet.Identity;
@using UI_portal.Constants;
@model UI_portal.Models.Post
@{
    ViewBag.Title = Model.thing.thing_name;
    var isAbleModify = ViewData["AbleToModifyPost"] as string;
}

<main class="postdetail-page">
    <section class="postDetail">
        <div class="container">
            <div class="detail__left">
                <div class="detail__left-slider" itemscope data-pswp-uid="1">
                    <figure class="detail__left-slider-item">
                        <div class="img">
                            <img src="@Url.Content($"~{ImageConstants.Thing}{Model.thing.image}")" alt="@Model.thing.thing_name">
                        </div>
                    </figure>
                </div>
                <div class="detail__left-button">
                    <div class="control">
                        <div class="btn prev"><img src="@Url.Content("~/Content/Assets/img/icons/prev.svg")" alt=""></div>
                        <div class="btn next "><img src="@Url.Content("~/Content/Assets/img/icons/next.svg")" alt=""></div>
                    </div>
                    @if (Model.status == "Mở" && isAbleModify == "false")
                    {
                        if (Model.exchange_method == "Free")
                        {
                            <form action="@Url.Action("RegisterFree", "Trade")">
                                <input hidden value="@Model.id" name="postId" />
                                <button type="submit" class="option freebtn">Đăng ký đổi</button>
                            </form>
                        }
                        else
                        {
                            <form action="@Url.Action("Register", "Trade")">
                                <input hidden value="@Model.id" name="postId" />
                                <button type="submit" class="option freebtn">Đăng ký đổi</button>
                            </form>
                        }
                    }
                </div>
                <div class="detail__left-userinfo">
                    <div class="right">
                        <div class="detail__left-userinfo name">
                            <div class="wrap-top">
                                <!--Tên người dùng-->
                                <p class="name">Người đăng: @Model.thing.userAccount.email</p>
                            </div>
                            <a href="@Url.Action("Index", "User", new { userId = Model.thing.userAccount.id })" class="button-primary userlink"><p>Trang cá nhân</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail__right">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="button-threedots">
                        <div class="threedots" style="background: url(@Url.Content("~/Content/Assets/img/icons/three-dots-svgrepo-com.svg")) center no-repeat;"></div>
                    </button>
                    <div class="navi-post">
                        <ul>
                            @if (isAbleModify == "true")
                            {
                                if (Model.status == "Mở")
                                {
                                    <li>
                                        <a href="@Url.Action("Update", "Post", new { postId = Model.id })">
                                            <button type="submit" class="edit">Cập nhật</button>
                                        </a>
                                    </li>
                                    <li>
                                        <button type="submit" class="del">Xóa</button>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <button class="report">Báo cáo</button>
                                </li>
                            }
                        </ul>
                    </div>
                }
                <div class="detail__right-name">
                    <h3>@Model.thing.thing_name</h3>
                </div>
                <div class="detail__right-options">
                    <p class="properties">Lựa chọn</p>
                    <p class="val">@Model.exchange_method</p>
                </div>
                <div class="detail__right-another">
                    <ul>
                        <li>
                            <p class="properties">Thể loại</p>
                            <p class="val">@Model.thing.category.category_name</p>
                        </li>
                        <li>
                            <p class="properties">Xuất xứ</p>
                            <p class="val">@Model.thing.origin</p>
                        </li>
                        <li>
                            <p class="properties">Giá trị</p>
                            <p class="val">@Model.thing.price.ToString("N0")₫</p>
                        </li>
                        <li>
                            <p class="properties">Thời gian sử dụng</p>
                            <p class="val">@Model.thing.used_time</p>
                        </li>
                        <li>
                            <p class="properties">Trạng thái</p>
                            <div class="val">
                                @switch (Model.status)
                                {
                                    case "Hoàn tất":
                                        <p class="status status-done">@Model.status</p>
                                        break;
                                    case "Mở":
                                        <p class="status status-open">@Model.status</p>
                                        break;
                                    case "Đóng":
                                        <p class="status status-pending">@Model.status</p>
                                        break;
                                    case "Huỷ":
                                        <p class="status status-cancel">@Model.status</p>
                                        break;
                                }
                            </div>
                        </li>
                    </ul>
                </div>
                @if (Model.description != null)
                {
                    <div class="detail__right-desc">
                        <p class="title">Mô tả ngắn:</p>
                        <p class="content edit">@Model.description</p>
                    </div>
                }
            </div>
        </div>
        <div class="checkregist">
            <div class="container">
                <div class="inventory">
                    <div class="inventory__wrap">
                        <div class="inventory__wrap-bottom">
                            <table class="table-scroll small-first-col">
                                <thead>
                                    <tr>
                                        <th>Đăng ký</th>
                                        <th>Thông tin món đồ</th>
                                        <th class="option">Đổi</th>
                                    </tr>
                                </thead>
                                <tbody class="body-half-screen">
                                    @foreach (var register in Model.postRegistrationList)
                                    {
                                        <tr>
                                            <td class="name">
                                                @if (register.thing != null)
                                                {
                                                    <div class="img">
                                                        <img src="@Url.Content($"~{ImageConstants.Thing}{register.thing.image}")" alt="@register.thing.thing_name">
                                                    </div>
                                                }
                                                    <div class="wrap-info">
                                                        <!--Tên món đồ-->
                                                        @if (register.thing != null)
                                                        {
                                                            <a href="" class="name-prod">@register.thing.thing_name</a>
                                                        }
                                                        <p>Đề xuất đổi bởi: </p>
                                                        <!--Tên và đường dẫn profile người dùng-->
                                                        <a class="profile" href="@Url.Action("Index", "User", new { userId = register.userAccount.id })">
                                                            @register.userAccount.email
                                                        </a>
                                                    </div>
                                            </td>
                                            <td class="info">
                                                <div class="infotop">
                                                    @if (register.thing != null)
                                                    {
                                                        <div class="infotop__left">
                                                            <div class="infotop__left-item">
                                                                <p class="properties">Xuất xứ:</p>
                                                                <p class="val">@register.thing.origin</p>
                                                            </div>
                                                        </div>
                                                        <div class="infotop__right">
                                                            <div class="infotop__right-item">
                                                                <p class="properties">Giá trị:</p>
                                                                <p class="val">@register.thing.price₫</p>
                                                            </div>
                                                            <div class="infotop__right-item">
                                                                <p class="properties">TGSD:</p>
                                                                <p class="val">@register.thing.used_time</p>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                @if (register.description != null)
                                                {
                                                    <div class="infobot">
                                                        <p class="properties">Lời nhắn:</p>
                                                        <div class="cmt-box">
                                                            <!--loi nhan-->
                                                            <p class="cmt-content">
                                                                @register.description
                                                            </p>
                                                            <p class="read-more"><a href="#" class="button">Đọc tiếp</a></p>
                                                        </div>
                                                    </div>
                                                }
                                            </td>
                                            <td class="option">
                                                @if (isAbleModify == "true")
                                                {
                                                    if (Model.status == "Mở")
                                                    {
                                                        <form action="@Url.Action("AcceptRegister", "Trade")">
                                                            <input hidden value="@register.id" name="registerPostId" />
                                                            <button type="submit" class="button accept">
                                                                <p>Chấp nhận</p>
                                                                <div class="img">
                                                                    <img src="@Url.Content("~/Content/Assets/img/icons/hand-shake.svg")" alt="">
                                                                </div>
                                                            </button>
                                                        </form>
                                                    }
                                                    else
                                                    {
                                                        if (register.chosen)
                                                        {
                                                            <p>Được duyệt</p>
                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="black-layer"></div>
    <div class="report-form">
        <div class="button-close">
            <img src="@Url.Content("~/Content/Assets/img/icons/closebtn.svg")" alt="">
        </div>
        <h3>Báo cáo</h3>
        <div class="in-wrap">
            <form action="@Url.Action("Create", "Report")">
                <input value="@Model.id" name="post_id" hidden />
                <input value="@User.Identity.GetUserId()" name="reporter_id" hidden />
                <div class="data__item">
                    <label for="short-desc">Điền lý do/mô tả:</label>
                    <textarea name="description" rows="5" type="text" id="short-desc"></textarea>
                </div>
                <button type="submit">Đồng ý</button>
            </form>
        </div>
    </div>
    <div class="warning-delete-post-form">
        <h3>Bạn muốn xóa bài đăng?</h3>
        <img src="@Url.Content("~/Content/Assets/img/icons/messaging-action-error.svg")" alt="">
        <div class="opt-wrap">
            <a href="@Url.Action("Delete", "Post", new { postId = Model.id })">
                <button type="submit" class="button delposty">Đồng ý</button>
            </a>
            <button class="button delpostn">Hủy</button>
        </div>
    </div>
</main>