
@model UI_portal.Models.Post
@{
    ViewBag.Title = Model.thing.thing_name;
    var isAbleModify = ViewData["AbleToModifyPost"] as string;
}

<main class="postdetail-page">
    <section class="postDetail">
        <div class="container">
            <div class="detail__left">
                <div class="detail__left-slider" itemscope data-pswp-uid="1">
                    <figure class="detail__left-slider-item">
                        <div class="img"><img src="@Url.Content("~/Content/Assets/Images/Thing/"+Model.thing.image)" alt="@Model.thing.thing_name"></div>
                    </figure>
                </div>
                <div class="detail__left-button">
                    <div class="control">
                        <div class="btn prev"><img src="@Url.Content("~/Content/Assets/img/icons/prev.svg")" alt=""></div>
                        <div class="btn next "><img src="@Url.Content("~/Content/Assets/img/icons/next.svg")" alt=""></div>
                    </div>
                    <a href="@Url.Action("Register", "Trade", new { postId = Model.id })" class="option tradebtn">
                        @Model.exchange_method
                    </a>
                </div>
                <div class="detail__left-userinfo">
                    <div class="right">
                        @*<a href="" class="avt">
            <!--Ảnh đại diện-->
            <img src="img/rose-10.jpg" alt="">
        </a>*@
                        <div class="detail__left-userinfo name">
                            <div class="wrap-top">
                                <!--Tên người dùng-->
                                <p class="name">@Model.thing.userAccount.email</p>
                            </div>
                            <a href="@Url.Action("Index", "User", new { userId = Model.thing.userAccount.id })" class="button-primary userlink"><p>Trang cá nhân</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail__right">
                <form action="">
                    <button class="button-threedots">
                        <div class="threedots"></div>
                    </button>
                    <div class="navi-post">
                        <ul>
                            @if (isAbleModify == "true")
                            {
                                <li>
                                    <a href="@Url.Action("Update", "Post", new { postId = Model.id })">
                                        <button class="edit">Cập nhật</button>
                                    </a>
                                </li>
                                <li>
                                    <button type="submit" class="del">Xóa</button>
                                </li>
                            }
                            else
                            {

                            }
                        </ul>
                    </div>
                    <div class="detail__right-name">
                        <h3>@Model.thing.thing_name</h3>
                    </div>
                    <div class="detail__right-options">
                        <p class="properties">Lựa chọn</p>
                        <p class="val">Trao đổi</p>
                    </div>
                    <div class="detail__right-another">
                        <ul>
                            <li>
                                <p class="properties">Thể loại</p>
                                <p class="val">@Model.thing.category.category_name</p>
                            </li>
                            <li>
                                <p class="properties">Xuất xứ</p>
                                <p class="val">@Model.thing.origin</p>
                            </li>
                            <li>
                                <p class="properties">Giá trị</p>
                                <p class="val">@Model.thing.price.ToString("N0")₫</p>
                            </li>
                            <li>
                                <p class="properties">Thời gian sử dụng</p>
                                <p class="val">@Model.thing.used_time</p>
                            </li>
                            <li>
                                <p class="properties">Trạng thái</p>
                                <div class="val">
                                    <p class="status status-done">@Model.status</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    @if (Model.description != null)
                    {
                        <div class="detail__right-desc">
                            <p class="title">Mô tả ngắn:</p>
                            <p class="content edit">
                                @Model.description
                            </p>
                        </div>
                    }
                </form>
            </div>
        </div>
        <div class="checkregist">
            <div class="container">
                <button type="submit" class="button-del">
                    <div class="del"></div>
                </button>
                <div class="inventory">
                    <div class="inventory__wrap">
                        <div class="inventory__wrap-bottom">
                            <table class="table-scroll small-first-col">
                                <thead>
                                    <tr>
                                        <th>Đăng ký</th>
                                        <th>Thông tin món đồ</th>
                                        <th class="option">Đổi</th>
                                    </tr>
                                </thead>
                                <tbody class="body-half-screen">
                                    @foreach (var register in Model.postRegistrationList)
                                    {
                                        <tr>
                                            <td class="name">
                                                <div class="img"><img src="@Url.Content("~/Content/Images/")+@register.thing.image" alt="@register.thing.thing_name"></div>
                                                <div class="wrap-info">
                                                    <!--Tên món đồ-->
                                                    <a href="#" class="name-prod">@register.thing.thing_name</a>
                                                    <p>Đề xuất đổi bởi: </p>
                                                    <!--Tên và đường dẫn profile người dùng-->
                                                    <a class="profile" href="@Url.Action("Index", "User", new { userId = register.thing.userAccount.id })">
                                                        @register.userAccount.email
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="info">
                                                <div class="infotop">
                                                    <div class="infotop__left">
                                                        <div class="infotop__left-item">
                                                            <p class="properties">Thể loại:</p>
                                                            <p class="val">@register.thing.category.category_name</p>
                                                        </div>
                                                        <div class="infotop__left-item">
                                                            <p class="properties">Xuất xứ:</p>
                                                            <p class="val">@register.thing.origin</p>
                                                        </div>
                                                    </div>
                                                    <div class="infotop__right">
                                                        <div class="infotop__right-item">
                                                            <p class="properties">Giá trị:</p>
                                                            <p class="val">@register.thing.price₫</p>
                                                        </div>
                                                        <div class="infotop__right-item">
                                                            <p class="properties">TGSD:</p>
                                                            <p class="val">@register.thing.used_time</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (register.description != null)
                                                {
                                                <div class="infobot">
                                                    <p class="properties">Lời nhắn:</p>
                                                    <div class="cmt-box">
                                                        <!--loi nhan-->
                                                        <p class="cmt-content">
                                                            @register.description
                                                        </p>
                                                        <p class="read-more"><a href="#" class="button">Đọc tiếp</a></p>
                                                    </div>
                                                </div>
                                                }
                                            </td>
                                            <td class="option">
                                                <button type="submit" class="button-check">
                                                    <div class="check"></div>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>