@model UI_portal.Models.Post
@{
    ViewBag.Title = "Cập nhật bài đăng";
}

<main class="addProduct-page">
    <section class="tableContent">
        <div class="containerAccount">
            @Html.Partial("_HeaderPartial")
            <div class="tableContent__wrap">
                @Html.Partial("_SidebarPartial")
                <div class="tableContent__wrap-content">
                    <div class="tableContent__wrap-content--qlkd">
                        <div class="addProduct">
                            <form action="@Url.Action("Update", "Post", new { postId = Model.id })" method="post" autocomplete="off">
                                <div class="data__item">
                                    <label for="category">Món đồ</label>
                                    <select id="category" disabled>
                                        <option value="@Model.thing.thing_name">@Model.thing.thing_name</option>
                                    </select>
                                </div>
                                <div class="data__item">
                                    <label for="category">Trạng thái</label>
                                    <select name="status" id="category">
                                        <option value="Huỷ">Huỷ</option>
                                        <option value="Mở" selected>Mở</option>
                                    </select>
                                </div>
                                <div class="data__item">
                                    <label for="">Đổi hoặc free</label>
                                    <select name="exchange_method" id="category">
                                        @if (Model.exchange_method == "Free")
                                        {
                                            <option selected value="Free">Free</option>
                                            <option value="Đổi">Đổi</option>
                                        }
                                        else
                                        {
                                            <option value="Free">Free</option>
                                            <option selected value="Đổi">Đổi</option>
                                        }
                                    </select>
                                </div>
                                <div class="data__item">
                                    <label for="short-desc">Phương thức liên lạc</label>
                                    <input type="text" id="short-desc" name="contact" maxlength=100 required value="@Model.contact" />
                                </div>
                                <div class="data__item">
                                    <label for="short-desc">Mô tả ngắn</label>
                                    @if (Model.description != null)
                                    {
                                        <textarea rows="5" type="text" id="short-desc" name="description" maxlength=500>@Model.description</textarea>
                                    }
                                    else
                                    {
                                        <textarea rows="5" type="text" id="short-desc" name="description" maxlength=500></textarea>
                                    }

                                </div>
                                <div class="data__item">
                                    <label></label>
                                    <button onclick="cancel()" type="button" class="btn-submit"
                                            style="background-color: #f9f4f2; color: #b49b3f">
                                        Huỷ
                                    </button>

                                    <button type="submit" class="btn-submit">Cập nhật</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<div class="noti">
            <i class="bell-icon"><img src="/img/icons/alarm.svg" alt=""></i>
            <p class="desc"><strong>Tạo bài đăng thành công</strong> - Bạn có thể cập nhật tại chi tiết bài đăng</p>
            <i class="close-icon"><img src="/img/icons/closebtn.svg" alt=""></i>
        </div>*@
</main>

@section Scripts {
    <script>
        function cancel() {
            window.location.href = "@Url.Action("DetailsAsync", new { postId = Model.id })";
        }
    </script>
}