@model IEnumerable<UI_portal.Models.Notification>
@{

}
<main class="userAccount-notification-page">
    <section class="tableContent">
        <div class="containerAccount">
            <div class="tableContent__title">
                <div class="tableContent__title-user">
                    <div class="avt">
                        <img src="@Url.Content("~/Content/Assets/img/icons/user.svg")" alt="">
                    </div>
                    <div class="name">
                        <p>Tài khoản của</p>
                        <!--tên user-->
                        <p class="val">@User.Identity.Name</p>
                    </div>
                </div>
                <div class="tableContent__title-current">
                    <a href="@Url.Action("Index", "Notification")">
                        <h3>Thông báo của tôi</h3>
                    </a>
                </div>
            </div>
            <div class="tableContent__wrap">
                @Html.Partial("_SideTabPartial")
                <div class="tableContent__wrap-content">
                    <div class="tableContent__wrap-content--tbct">
                        <div class="inventory">
                            <div class="inventory__wrap">
                                <div class="inventory__wrap-bottom">
                                    <table class="table-scroll small-first-col">
                                        <tbody class="body-half-screen">
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="date">@item.time</td>
                                                    <td class="image">
                                                        <div class="img">
                                                            <img src="@Url.Content("~/Content/Assets/img/icons/post.svg")" alt="">
                                                        </div>
                                                    </td>
                                                    <td class="noti-content">
                                                        <p>
                                                            @item.description
                                                        </p>
                                                    </td>
                                                    <td>
                                                        @*<button type="submit" class="buttonsubmit del">
                                                            <span class="del"></span>
                                                        </button>*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>