@using UI_portalAdmin.Models
@using PagedList;
@model  PagedList.IPagedList<UserAccount>

@{
    ViewBag.Title = "Danh sách người dùng";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý người dùng</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Danh sách người dùng</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Email</th>
                                <th scope="col" class="sort" data-sort="status">Trạng thái</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">
                                                    <a href="@Url.Action("GetUser", "UserManagement", new { userId = user.id })">@user.email</a>
                                                </span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        @if (user.block)
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-danger"></i>
                                                <span class="status">Đã khoá</span>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-success"></i>
                                                <span class="status">Bình thường</span>
                                            </span>
                                        }
                                    </td>
                                    <td class="text-right">
                                        @*<form action="@Url.Action("BlockUser", "UserManagement", new { isBlock = user.block })" method="post">*@
                                        <input name="id" value="@user.id" hidden />
                                        <input name="email" value="@user.email" hidden />
                                        @*<input name="block" type="checkbox" value="@user.block" hidden/>*@
                                        @if (user.block)
                                        {
                                            <button onclick="setValue('@user.id', '@user.email', true)" type="button" class="btn btn-icon btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                <span class="btn-inner--icon"><i class="fas fa-lock-open"></i></span>
                                                <span class="btn-inner--text">Mở khoá</span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button onclick="setValue('@user.id', '@user.email', false)" type="button" class="btn btn-icon btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                <span class="btn-inner--icon"><i class="fas fa-lock"></i></span>
                                                <span class="btn-inner--text">Khoá</span>
                                            </button>
                                        }
                                        @*</form>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- Card footer -->
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">

                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                if (Model.PageNumber == i)
                                {
                                    <li class="page-item active">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="py-3 text-center">
                        <i class="ni ni-bell-55 ni-3x"></i>
                        <h4 id="confirmMessage" class="heading mt-4"></h4>
                        <h2 id="userInfo"></h2>
                    </div>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("BlockUser", "UserManagement")" method="post">
                        <input id="userId" name="user_id" hidden />
                        <div class="form-group mb-12">
                            <div class="input-group input-group-merge input-group-alternative">
                                <textarea type="text" name="reason" placeholder="Lý do" required class="form-control" maxlength="100"></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Đồng ý</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    @Html.Partial("_FooterPartial")
</div>

@section Scripts {
    <script>
        function setValue(id, email, block) {
            document.getElementById("userId").value = id;
            if (block === true) {
                $("#confirmMessage").html("Bạn có chắc muốn mở khoá tài khoản người này?");
            } else {
                $("#confirmMessage").html("Bạn có chắc muốn khoá tài khoản người này?");
            }
            $("#userInfo").html(email);
        }
    </script>
}